<launch>
	<arg name="ns"/>
    <arg name="map_path"/> 
    <arg name="update_rate"/> 

    <param name="use_sim_time" value="true"/>

    <!-- Launch flatland -->
    <include file="$(find rl_bringup)/launch/sub_launch/flatland.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="map_path" value="$(arg map_path)" />
        <arg name="update_rate" value="$(arg update_rate)" />
    </include>

    <!-- Launch light pedsim -->
    <include file="$(find rl_bringup)/launch/sub_launch/pedestrians_only.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="map_path" value="$(arg map_path)"/>
    </include>
</launch>