<?xml version="1.0"?>
<launch>
      <arg name="error_log" default=""/>
      <arg name="rviz_config" default="$(find rl_bringup)/rviz/robot_navigation.rviz"/>
      <arg name="ns" default=""/>
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config) $(arg error_log)">
        <remap from="map" to="$(arg ns)/map"/>
        <remap from="rl_map" to="$(arg ns)/rl_map"/>
        <remap from="state_image1" to="$(arg ns)/state_image1"/>
        <remap from="state_image4" to="$(arg ns)/state_image4"/>
        <remap from="state_scan" to="$(arg ns)/state_scan"/>
        <remap from="reward" to="$(arg ns)/reward"/>
        <remap from="f_scan" to="$(arg ns)/f_scan"/>
        <remap from="b_scan" to="$(arg ns)/b_scan"/>
        <remap from="static_laser" to="$(arg ns)/static_laser"/>
        <remap from="ped_laser" to="$(arg ns)/ped_laser"/>
        <remap from="move_base/current_goal" to="$(arg ns)/move_base/current_goal"/>
        <remap from="particlecloud" to="$(arg ns)/particlecloud"/>
        <remap from="/move_base/NavfnROS/plan" to="$(arg ns)/move_base/NavfnROS/plan"/>
        <remap from="rl_eval/driven_path2" to="$(arg ns)/rl_eval/driven_path2"/>
        <remap from="rl_eval/driven_path" to="$(arg ns)/rl_eval/driven_path"/>
        <remap from="rl_eval/global_path" to="$(arg ns)/rl_eval/global_path"/>
        <remap from="/flatland_server/debug/model/robot_1" to="$(arg ns)/flatland_server/debug/model/robot_1"/>
        <remap from="wp_vis1" to="$(arg ns)/wp_vis1"/>
        <remap from="wp_vis2" to="$(arg ns)/wp_vis2"/>
        <remap from="wp_vis3" to="$(arg ns)/wp_vis3"/>
        <remap from="wp_vis4" to="$(arg ns)/wp_vis4"/>
        <remap from="/rl_eval/viz_agents" to="$(arg ns)//rl_eval/viz_agents"/>
        <remap from="cmd_vel" to="$(arg ns)/cmd_vel"/>
        <remap from="move_base_simple/goal" to="$(arg ns)/move_base_simple/goal"/>
        <remap from="initialpose" to="$(arg ns)/initialpose"/>
        <remap from="/flatland_server/debug/layer/2d" to="$(arg ns)/flatland_server/debug/layer/2d"/>
        <remap from="/flatland_server/debug/model/person_0" to="$(arg ns)/flatland_server/debug/model/person_0"/>
        <remap from="/flatland_server/debug/model/person_1" to="$(arg ns)/flatland_server/debug/model/person_1"/>
        <remap from="/flatland_server/debug/model/person_2" to="$(arg ns)/flatland_server/debug/model/person_2"/>
        <remap from="/flatland_server/debug/model/person_3" to="$(arg ns)/flatland_server/debug/model/person_3"/>
        <remap from="/flatland_server/debug/model/person_4" to="$(arg ns)/flatland_server/debug/model/person_4"/>
        <remap from="/flatland_server/debug/model/person_5" to="$(arg ns)/flatland_server/debug/model/person_5"/>
        <remap from="/flatland_server/debug/model/person_6" to="$(arg ns)/flatland_server/debug/model/person_6"/>
        <remap from="/flatland_server/debug/model/person_7" to="$(arg ns)/flatland_server/debug/model/person_7"/>
        <remap from="/flatland_server/debug/model/person_8" to="$(arg ns)/flatland_server/debug/model/person_8"/>
        <remap from="/flatland_server/debug/model/person_9" to="$(arg ns)/flatland_server/debug/model/person_9"/>
        <remap from="/pedsim_visualizer/tracked_persons" to="$(arg ns)/pedsim_visualizer/tracked_persons"/>
        <remap from="/pedsim_visualizer/tracked_groups" to="$(arg ns)//pedsim_visualizer/tracked_groups"/>
        <remap from="pedsim_visualizer/walls" to="$(arg ns)/pedsim_visualizer/walls"/>
        <remap from="/interactive_model_markers/update" to="$(arg ns)/interactive_model_markers/update"/>
        <remap from="/flatland_server/debug/model/stat_obj_0" to="$(arg ns)/flatland_server/debug/model/stat_obj_0"/>
        <remap from="/flatland_server/debug/model/stat_obj_1" to="$(arg ns)/flatland_server/debug/model/stat_obj_1"/>
        <remap from="/flatland_server/debug/model/stat_obj_2" to="$(arg ns)/flatland_server/debug/model/stat_obj_2"/>
        <remap from="/flatland_server/debug/model/stat_obj_3" to="$(arg ns)/flatland_server/debug/model/stat_obj_3"/>
        <remap from="/flatland_server/debug/model/stat_obj_4" to="$(arg ns)/flatland_server/debug/model/stat_obj_4"/>
        <remap from="/flatland_server/debug/model/stat_obj_5" to="$(arg ns)/flatland_server/debug/model/stat_obj_5"/>
        <remap from="/flatland_server/debug/model/stat_obj_6" to="$(arg ns)/flatland_server/debug/model/stat_obj_6"/>
        <remap from="/flatland_server/debug/model/stat_obj_7" to="$(arg ns)/flatland_server/debug/model/stat_obj_7"/>
        <remap from="/flatland_server/debug/model/stat_obj_8" to="$(arg ns)/flatland_server/debug/model/stat_obj_8"/>
        <remap from="/flatland_server/debug/model/stat_obj_9" to="$(arg ns)/flatland_server/debug/model/stat_obj_9"/>
        <remap from="/tf" to="/$(arg ns)/tf"/>
        <remap from="/clock" to="/$(arg ns)/clock"/>
      </node>
</launch>